@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Explenation</h1>
    <p>Magic: The Gathering (colloquially known as Magic or MTG) is a tabletop and digital collectible card game created by Richard Garfield.[1] Released in 1993 by Wizards of the Coast, Magic was the first trading card game and had approximately fifty million players as of February 2023.[2][3][4][5] Over twenty billion Magic cards were produced in the period from 2008 to 2016, during which time it grew in popularity.</p>
    <p>Players in a game of Magic represent powerful dueling wizards called Planeswalkers. Each card a player draws from their deck represents a magical spell which can be used to their advantage in battle. Instant and Sorcery cards represent magical spells a player may cast for a one-time effect, while Creature, Artifact, Enchantment, and Battle cards remain on the Battlefield to provide long-term advantage. Players must include resource, or Land cards representing the amount of mana that is available to cast their spells. Typically, a player defeats their opponent(s) by reducing their life totals to zero, which is commonly done via combat damage by attacking with creatures. Many other sources of damage exist in the game, in addition to alternative win-conditions which do not check life totals.</p>
</div>
<div>
    <p>Try it yourself and enjoy the magic!</p>
</div>