@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Secret Lairs</h1>
    <ul>
        <li>Featuring: Luke Pearson
            <div>
                <img src="~/images/LukePearson.png" alt="LukePearson" width="200px" height="200px" />
            </div>
        </li>
        <li>Ghostbusters
            <div>
                <img src="~/images/ghostbusters.png" alt="Ghostbusters" width="200px" height="200px" />
            </div>
        </li>
        <li>Deadpool
            <div>
                <img src="~/images/deadpool.png" alt="Deadpool" width="200px" height="200px" />
            </div>
        </li>
    </ul>
</div>
