@{
    ViewData["Title"] = "Coming Soon";
}

<div class="text-center">
    <h1>MTG X Final Fantasy</h1>
    <p>Release Date: June 13, 2025</p>

    <h3>Newest Commander Cards:</h3>
    <img src="~/images/c1.png" alt="CommanderCard1" width="265" height="370" />
    <img src="~/images/c2.png" alt="CommanderCard2" width="265" height="370" />
    <img src="~/images/c3.png" alt="CommanderCard3" width="265" height="370" />
    <img src="~/images/c4.png" alt="CommanderCard4" width="265" height="370" />

    <h3>Collector Cards:</h3>
    <img src="~/images/col1.png" alt="CollectorCard1" width="265" height="370" />
    <img src="~/images/col2.png" alt="CollectorCard2" width="265" height="370" />
    <img src="~/images/col3.png" alt="CollectorCard3" width="265" height="370" />
    <img src="~/images/col4.png" alt="CollectorCard4" width="265" height="370" />

    <p>Stay tuned and check for more information our <a href="https://magic.wizards.com/en/products/final-fantasy">official site</a>!</p>
</div>